.navContainer {
    background-color: rgb(28, 28, 28);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navContent img {
   width: 60px;
}

.navContent h1 {
    color: #00b1fe;
    font-size: 25px;
    font-weight: 700;
    padding-inline: 5px;
    line-height: 20px;
}

.navContent P {
    color: white;
    padding-inline: 5px;
    font-size: 14px;
    font-weight: 600;
}

.btnRegister button {
    padding: 10px 25px;
    font-weight: 700;
    cursor: pointer;
    background-color: rgb(54, 54, 54);
    color: white;
    border: none;
}

.btnRegister button:hover {
    background-color: #00b1fe;
}

@media (max-width: 380px) {
    .btnRegister button {
        padding: 15px 25px;
        font-weight: 700;
        cursor: pointer;
        background-color: rgb(54, 54, 54);
        color: white;
        border: none;
        font-size: 13px;
    }
}